<div class="row">
    <div class="col-md-3">
        <div class="nav flex-column nav-pills bg-light" aria-orientation="vertical">
            <a href="dashboard.html" class="nav-link text-dark">Dashboard</a>
            <a href="users.html" class="nav-link text-dark bg-warning">Users</a>
            <a href="categories.html" class="nav-link text-dark">Categories</a>
            <a href="posts.html" class="nav-link text-dark">Posts</a>
            <a href="#" class="nav-link text-dark">Logout</a>
        </div>
    </div>

    <div class="col-md-9">
        <h2>All Users</h2>
        <a href="add_user.html" class="btn btn-dark text-light float-right mb-2">Add User</a>
        <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Full Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Active</th>
                <th>Staff</th>
                <th>Superuser</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Rathan Kumar</td>
                <td>rathan</td>
                <td>rathan@example.com</td>
                <td><i class="fa fa-check text-success"></i></td>
                <td><i class="fa fa-check text-success"></i></td>
                <td><i class="fa fa-times text-danger"></i></td>
                <td>
                    <a href="edit_user.html"><i class="fa fa-edit text-success"></i></a>
                    &nbsp;
                    <a href="#"><i class="fa fa-trash text-danger"></i></a>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>Aditi Sharma</td>
                <td>aditi</td>
                <td>aditi@example.com</td>
                <td><i class="fa fa-check text-success"></i></td>
                <td><i class="fa fa-times text-danger"></i></td>
                <td><i class="fa fa-times text-danger"></i></td>
                <td>
                    <a href="edit_user.html"><i class="fa fa-edit text-success"></i></a>
                    &nbsp;
                    <a href="#"><i class="fa fa-trash text-danger"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
